*{
    list-style:none;
    text-decoration:none;
    border-collapse:collapse;
    margin:0px;
    padding:0px;
    color:black;
}

.nav{
    height:70px;
    border-bottom:1px solid black;
    display:flex;
    align-items: center;
}

.nav_right_items{
    display:flex;
    margin-left:auto;
}

.nav_item{
    margin-left:10px;
}

/* Title */

.title{
    text-align: center;
    font-size:3.5rem;
    font-weight:bold;
}

.subtitle{
    text-align: center;;
    font-size: 1.25rem;
    font-weight:300;
}

.main{
    width: 1000px;
    margin: 0 auto;
    margin-top:60px;
}

/* prices */

.prices{
    display:flex;
}
.price_item{
    width:300px;
    height:350px;
    border:1px solid black;
    margin:20px;
    border-radius:4px;
    text-align: center;
}

.price_item_title{
    font-size:1.5rem;
    background:rgba(0,0,0,.03);
    text-align: center;
    height:53px;
    line-height: 53px;
    border-bottom:1px solid black;
}

.price_item_price{
    font-size:2.5rem;
    font-weight: bold;
    padding:20px;
}

.price_item_button{
    color:#007bff;
    background-color:transparent;
    border-color:#007bff;
    padding: .5rem 1rem;
    font-size:1.25rem;
    line-height:1.5;
    border-radius: .3rem;
    margin-top:30px;
}

.price_item_button_active{
    background-color:#007bff;
    color:white;
}